body{
    background-color: rgb(225, 225, 225);
    }

body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Lato", sans-serif;
        color: rgb(80, 80, 80);
    }

body,
html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    font-size: 100%;
    }